---
layout: layout.liquid
title: Galactic Blog - About
---

<div class="about">
    <p>Welcome to my blog! My name is Mackenzi and this is where I share my fantastical galactic adventures for a web development assignment.</p>
</div>