---
layout: layout.liquid
title: Galactic Blog - Home
---

<div class="posts">
    <a href="/post1/">
    {% post '/images/planet.png' 'Purple planet graphic' 'Dive into the adventures on planet Mystara and see what this explorer had to say about its pink and purple wonders.' %}
    </a>
    <a href="/post2">
    {% post '/images/moon.png' 'Moon graphic' 'Come along for the excitment of Mystaras moon, Lumina. Learn all about this glowing moons most famous attractions.' %}
    </div>
    </a>
</div>